!!!
%html
  %head
    %title Instant Moog Cookbook
    %script{:src => '/javascripts/jquery-1.4.1.min.js', :type => 'text/javascript'}
    %script{:src => '/soundbridge/soundbridge.js', :type => 'text/javascript'}
    %script{:src => '/javascripts/cookbookplayer.js', :type => 'text/javascript'}
    :javascript
      var patternData = #{@patterns.to_json};
      var beatsData = #{@beats.to_json};
  %body
    %h1 instant moog cookbook
    %p
      Key:
      &= @analysis['analysis']['track']['key']
    %p
      Mode:
      &= @analysis['analysis']['track']['mode']
    %p
      Duration:
      &= @analysis['analysis']['track']['duration']
    %p
      %a#playButton{:href => "#"} play


    %object#soundbridge{ :height => "30", :align => "middle", :classid => "clsid:d27cdb6e-ae6d-11cf-96b8-444553540000", :width => "200" }
      %param{ :name => "movie", :value => "/soundbridge/soundbridge.swf" }
      %param{ :name => "allowScriptAccess", :value => "always" }
      %param{ :name => "quality", :value => "high" }
      %param{ :name => "scale", :value => "noscale" }
      %param{ :name => "salign", :value => "lt" }
      %param{ :name => "bgcolor", :value => "#ffffff" }
      %embed{ :name => "soundbridge", :src => "/soundbridge/soundbridge.swf", :pluginspage => "http://www.macromedia.com/go/getflashplayer", :type => "application/x-shockwave-flash", :allowscriptaccess => "always", :height => "30", :align => "middle", :quality => "high", :bgcolor => "#ffffff", :width => "200" }/
